@font-face {
  font-family: "Inter Light";
  src: url(../font/Inter-Light.ttf);
}
@font-face {
  font-family: "Inter Regular";
  src: url(../font/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter Bold";
  src: url(../font/Inter-Bold.ttf);
}

:root {
  --text-black: #2b2c2e;
  --text-gray: #848689;
  --heading-black: #27282a;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2,
h3 {
  font-family: "Inter Bold";
  color: var(--heading-black);
}

p,
a {
  font-family: "Inter Regular";
  color: var(--text-black);
  font-size: clamp(0.1rem, 2vw, 2rem);
}

.body_wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

/* # header style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 7vw;
  margin-bottom: 10vw;
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.nav_links {
  display: flex;
  gap: 23px;
}

svg {
  display: none;
}

.nav_links a {
  font-size: clamp(0.1rem, 1.5vw, 1.3rem);
}

.logo {
  font-size: clamp(1.5rem, 2.5vw, 2.4rem);
  font-family: "Inter Bold";
}

.get_started {
  font-size: clamp(0.1rem, 2vw, 1.7rem);
  padding: 7px 4vw;
  border-radius: 4px;
  border: 1px solid var(--text-black);
}

.get_started:hover {
  color: var(--white);
  background-color: var(--text-black);
}

.hero h1 {
  text-align: center;
  font-family: "Inter Light";
  font-size: clamp(0.1rem, 5vw, 4rem);
  font-weight: 300;
  margin-bottom: 5vw;
}

/* # style price section */

.price {
  display: flex;
  justify-content: center;
  padding: 15vw 7vw;
  gap: 5vw;
}

.price_text {
  max-width: 100%;
  line-height: 32px;
}

.price_tag {
  max-width: 30vw;
}

.price_tag h2 {
  font-size: clamp(0.1rem, 6.5vw, 6.1rem);
}

.price_tag p {
  line-height: 22px;
  color: var(--text-gray);
}

/* # style deliverables section */

.deliverables {
  padding: 3vw 7vw 3vw 48vw;
  display: flex;
  flex-direction: column;
  background: url(../img/home_deliverables.png) no-repeat 10vw;
  background-size: 40vw;
}

.deliverables article {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.deliverables h2 {
  font-size: clamp(0.1rem, 5.5vw, 5.5rem);
}

.deliverables h3 {
  font-size: clamp(0.1rem, 2.5vw, 2.3rem);
}

.deliverables p {
  font-size: clamp(0.1rem, 2vw, 1.9rem);
  color: var(--text-gray);
  line-height: 26px;
}

/* # style how and who section */

.how_and_who {
  padding: 3vw 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f4;
}

.how_and_who_con {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.how_and_who h2 {
  font-size: clamp(0.1rem, 5vw, 5rem);
}

.how_and_who p {
  color: var(--text-gray);
  line-height: 26px;
}

/* # style critique section */

.critique {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 7vw;
  gap: 3vw;
}

.critique h2 {
  font-size: clamp(0.1rem, 5vw, 5rem);
  margin-bottom: 5vw;
}

.critique p {
  font-size: clamp(0.1rem, 2vw, 1.6rem);
  color: var(--text-gray);
}

.upper_text {
  text-align: center;
}

.percentage {
  position: relative;
}

.percentage img:nth-of-type(2) {
  position: absolute;
  max-width: 40%;
  bottom: -90px;
  left: 50%;
}

.bottom_text {
  align-self: start;
}

/* # style footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  border-top: 1px solid var(--text-gray);
  padding-top: 10vw;
}

footer h2 {
  font-size: clamp(0.1rem, 5vw, 4.8rem);
}

footer div {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 5vw;
}

footer img {
  max-width: 20%;
}

footer p {
  color: var(--text-gray);
}

footer span {
  color: var(--text-black);
}

/* # style tablet size  */

@media only screen and (max-width: 767px) {
  /* # header */

  .nav_links {
    display: none;
  }

  svg {
    display: block;
    fill: var(--heading-black);
  }

  .hero h1 {
    padding: 0 10vw 0 10vw;
  }

  /* # price */

  .price {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .price p {
    line-height: normal;
  }

  /* # Deliverables */

  .deliverables {
    padding: 60px 7vw;
    text-align: center;
    background: none;
    background-size: 70%;
  }

  .deliverables p {
    line-height: normal;
  }

  .deliverables article {
    background-color: rgba(255, 255, 255, 0.65);
  }

  /* # how_and_who section */

  .how_and_who {
    text-align: center;
    flex-direction: column;
  }

  .how_and_who img {
    max-width: 40%;
  }

  .how_and_who p {
    line-height: normal;
  }

  /* # critique section  */

  .percentage img:nth-of-type(2) {
    display: none;
  }

  .upper_text p,
  .bottom_text p {
    margin-bottom: 0;
    text-align: center;
  }

  .bottom_text {
    align-self: center;
  }
}

/* # style phone size  */

@media only screen and (max-width: 480px) {
  .get_started {
    display: none;
  }
}
