@font-face {
  font-family: "Inter Light";
  src: url(../font/Inter-Light.ttf);
}
@font-face {
  font-family: "Inter Regular";
  src: url(../font/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter Bold";
  src: url(../font/Inter-Bold.ttf);
}

:root {
  --text-black: #2b2c2e;
  --text-gray: #848689;
  --heading-black: #27282a;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2,
h3 {
  font-family: "Inter Bold";
  color: var(--heading-black);
}

p,
a {
  font-family: "Inter Regular";
  color: var(--text-black);
  font-size: clamp(0.1rem, 2.5vw, 2.1rem);
}

.body_wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

/* # header style */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10vw;
  margin-bottom: 90px;
  position: sticky;
  top: 0;
  background-color: var(--white);
}

.nav_links {
  display: flex;
  gap: 23px;
}

.nav_links a {
  font-size: clamp(0.1rem, 1.5vw, 1.3rem);
}

.logo {
  font-size: clamp(0.1rem, 2.5vw, 2.4rem);
  font-family: "Inter Bold";
}

.get_started {
  font-size: clamp(0.1rem, 2vw, 1.7rem);
  padding: 7px 55px;
  border-radius: 4px;
  border: 1px solid var(--text-black);
}

.hero h1 {
  text-align: center;
  font-family: "Inter Light";
  font-size: clamp(0.1rem, 5vw, 4rem);
  font-weight: 300;
  margin-bottom: 37px;
}

/* # style price section */

.price {
  display: flex;
  justify-content: center;
  padding: 150px 10vw;
  gap: 50px;
}

.price_text {
  max-width: 710px;
  line-height: 32px;
}

.price_tag {
  max-width: 155px;
}

.price_tag h2 {
  font-size: clamp(0.1rem, 6.5vw, 6.1rem);
}

.price_tag p {
  line-height: 22px;
  color: var(--text-gray);
}

/* # style deliverables section */

.deliverables {
  padding: 60px 10vw;
  display: flex;
}

.deliverables img {
  width: 40vw;
  object-fit: contain;
}

.deliverables_con {
  margin-left: -50px;
}

.deliverables_con h2 {
  font-size: clamp(0.1rem, 5.5vw, 5.5rem);
  margin-bottom: 60px;
}

.deliverables_con h3 {
  font-size: clamp(0.1rem, 2.5vw, 2.3rem);
  margin-bottom: 27px;
}

.deliverables_con p {
  font-size: clamp(0.1rem, 2vw, 1.9rem);
  color: var(--text-gray);
  line-height: 26px;
  margin-bottom: 30px;
}

/* # style how and who section */

.how_and_who {
  padding: 60px 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f4;
}

.how_and_who h2 {
  font-size: clamp(0.1rem, 5vw, 5rem);
  margin-bottom: 20px;
}

.how_and_who p {
  color: var(--text-gray);
  line-height: 26px;
  margin-bottom: 20px;
}
